@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import '../node_modules/react-s-alert/dist/s-alert-default.css';
@import '../node_modules/react-s-alert/dist/s-alert-css-effects/slide.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/react-select/dist/react-select.min.css';

html, body {
    margin: 0 auto;
    background-color: whitesmoke;
    font-size: 15px;
}

a, a:hover {
    text-decoration: none
}

.relative {
    position: relative;
}

.element-bottom {
    position: absolute;
    bottom: 0;
}

.navbar-center {
    position: absolute;
    left: 43%;
}

.margin-right-0 {
    margin-right: 0;
}

.margin-right-1 {
    margin-right: 1px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-25 {
    margin-top: 25px;
}

.default-component {
    background-color: white;
    margin-top: 10px;
}